body{
    margin: 0px;
    background-color: antiquewhite;
}

header{
    background: green;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: Comic Sans Ms;
}

header p{
    text-align: center;
}

nav{
     overflow: hidden; /* kai kura overflow xa vane hide hunxa */
    background-color: aquamarine;

}
nav a{
    float: left; /*sabai content haru left tera janxa*/
    padding: 9px 10px;
    text-decoration: none;
}
nav a:hover{
    background: #000;
    color: white;
}

.column{
    float: left;
    padding: 10px;

}

.column.side{
    width: 20%;
}
.column.middle{
    width: 50%;
}

section p{
    text-align: justify;
}


@media screen and (max-width: 617px)
{
    .column.side, .column.middle{
        width: 100%;
    }
}
footer{
    clear: both;
    text-align: center;
    background: green;
    padding: 20px;
    color: aliceblue;
}