@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300&display=swap');
:root
{
    --border-color: black;
    --body-padding: 0%;
}



body{
    margin: 0;
    padding: (--body-padding);
    background-color:rgb(207, 200, 214);
    background-image: url(back1.jpg);
    background-size: cover;
    font-family: martian mono,sans-serif;
    
}

div h1{
    text-align: center;
    margin-bottom: 30px;
}
.header
{
    color: var(--border-color);
}
.sign-up-form{
    background-color: #fff;
    text-align: center;
    color: black;
    margin: 8% auto 0;
    padding: 10px;
    width: 30%;
    border: 8px solid rgb(210, 180, 197,0.4);
    border-radius: .35rem;
    padding-bottom: 35px;
    outline: none;

    
}

.input-box{
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    width: 70%;
    outline: none;
    border: 3px solid black;
    transition: .9s;
}
.input-box:focus
{
    width: 75%;
}


button{
    padding: 10px;
    border-radius: 20px;
    width: 70%;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;

}
.input-btn
{
    border: 4px solid rgb(0, 0, 0);
    background-color: hwb(240 25% 21% / 0.7);
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: var(--border-color);
    padding: 15px;
    width: 70%;
    margin: 2px;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.input-btn:hover
{
    background-color: rgba(10, 10, 10, 0.3);
    color: blue;
}